* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}


.title {
  color: red;
}

body {
  background-color: rgb(36, 36, 36);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: 15px;
}

.player1-board, .computer-board{
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  width: 200px;  
  height: 200px;
  border: 1px, solid rgb(179, 177, 177);

}

.box {
  /* border: 1px, solid rgb(179, 177, 177); */
  outline:1px solid rgb(179, 177, 177);
  /* width: 100%;
  height: 15px; */
  width: 100%;
  height: 100%;
  background-color: rgb(34, 73, 73);
}

.ship-section {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  background-color: rgb(12, 12, 143);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ship {
  border: 1px solid white;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: blueviolet;
  border:none;
  outline: rgb(2, 255, 255);
  width: 20px;
  height: 20px;
  /* object-fit: cover; */
}

#carrier {
  width: 100px;
  height: 14px;
}

#battleship {
  width: 80px;
  height: 14px;
}

#cruiser {
  width: 60px;
  height: 14px;
}

#submarine {
  width: 60px;
  height: 14px;
}

#destroyer {
  width: 40px;
  height: 14px;
}

.hit {
  background-color: lightsalmon;
}

.miss {
  background-color: gray;
}

