* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: rgb(36, 36, 36);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 15px;
  max-width: 360px;
  height: 100vh;
}

.header-element {
  color: rgba(255, 0, 0, 0.754);
  grid-row: 1 / 2;
  grid-column: 2 / 2;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  text-shadow: 4px 3px 2px rgba(255, 255, 255, 0.45);
}

.player1-board, .computer-board{
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  width: 290px;  
  height: 290px;
  /* border: 1px, solid rgb(179, 177, 177); */

}

.player1-board {
  grid-row: 2 / 2;
  grid-column: 2 / 2;
}

.computer-board {
  grid-row: 5 / 6;
  grid-column: 2 / 2;
}

.box {
  border: 1px, solid rgb(179, 177, 177);
  /* outline:1px solid rgb(179, 177, 177); */
  /* width: 100%;
  height: 15px; */
  width: 92%;
  height: 92%;
  background-color: #1E3F66;
}

.middle-container {
  width: 100%;
  height: 57px; 
  background-color: rgba(0, 0, 0, 0.55);
  /* height: 100px; */
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: none;  */
  position: relative; 
  line-height: 19px; /* Half container height */
  grid-row: 3 / 3;
  grid-column: 2 / 2;
  align-self: center;
}

/* .middle-container {
  width: auto;
  height: 38px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  overflow-y: auto;
  line-height: 1.2;
  height: 38px; 
  transition: opacity 0.5s ease-in-out;
  opacity: 1; 

  
} */


.ship {
  /* border: 1px solid white; */
  /* box-shadow: 0 0 0 2px rgb(253, 253, 253); */
  background-color: blueviolet;


  /* width: 20px;
  height: 20px; */
}

.carrier {
  background-color: deepskyblue;
}

.battleship {
 background-color: orange;
}

.cruiser {
  background-color: blueviolet;
}

.submarine {
  background-color: cornflowerblue;
}

.destroyer {
  background-color: fuchsia;
}

#carrier {
  width: 100px;
  height: 14px;
}

#battleship {
  width: 80px;
  height: 14px;
}

#cruiser {
  width: 60px;
  height: 14px;
}

#submarine {
  width: 60px;
  height: 14px;
}

#destroyer {
  width: 40px;
  height: 14px;
}

.hit {
  background-color: rgb(0, 0, 0);
}

.miss {
  background-color: gray;
}

.hover-preview {
  background-color: hsla(288, 100%, 50%, 0.786); /* translucent violet overlay */
}

.valid-hover {
  background-color: green;
}

.invalid-hover {
  background-color: rgb(255, 0, 0);
}

.random-placement-button, .start-game-button {
  width: 170px;
  height: 30px;
  padding: 3px 3px;
  background-color: black; /* Blue */
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.random-placement-button {
  grid-row: 4 / 5;
  grid-column: 2 / 2;
}

.start-game-button {
  grid-row: 6 / 7;
  grid-column: 2 / 2;
}

.random-placement-button:hover, .start-game-button:hover {
  background-color: rgb(53, 52, 52);
}

.random-placement-button:disabled, .start-game-button:disabled {
  opacity: 0.3;
}


/* Message element base styles */
.text-updates {
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0;
  /* transform: translateY(0); */
  transition: 
  opacity 0.5s ease-in-out,
  transform 0.5s ease-in-out;
  pointer-events: none; 
}

/* Only animate the bottom message */
.text-updates:nth-last-child(1) { 
  bottom: 0;
  /* STARTS SLIGHTLY FROM THE BOTTOM */
  transform: translateY(7px);
  transition: 
    opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  color: red;
}

.text-updates:nth-last-child(2) { 

  top: 19px; 
  transform: translateY(0); 
}

.text-updates:nth-last-child(3) { 
  top: 0;  
}

.text-updates.visible {
  opacity: 1;
  transform: translateY(0);
  /* color: red; */
}